<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hcmute.edu.vn.foody_08">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_foody"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foody_08">
        <activity
            android:name=".ItemSearchActivity"
            android:exported="false" />
        <activity
            android:name=".ItemHomeActivity"
            android:exported="false" />
        <activity
            android:name=".EditNameActivity"
            android:exported="false" />
        <activity
            android:name=".UserInfoActivity"
            android:exported="false" />
        <!--<activity
            android:name=".AccountActivity"
            android:exported="false" />-->
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <!--<activity
            android:name=".HomeActivity"
            android:exported="false" />-->
        <activity
            android:name=".view.OrderAllCartActivity"
            android:exported="true" />
        <activity
            android:name=".view.PaymentResultActivity"
            android:exported="true" />
        <activity
            android:name=".view.PaymentActivity"
            android:exported="true" />
        <activity
            android:name=".view.OrderActivity"
            android:exported="true" />
        <activity
            android:name=".view.RestaurantActivity"
            android:exported="true" />
        <activity
            android:name=".view.LoginRegisterActivity"
            android:exported="true" />
        <activity
            android:name=".view.PaymentFailedActivity"
            android:exported="true" />
        <activity
            android:name=".view.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>